{
  "env": {
    "test": {
      "presets": [
        "@babel/preset-typescript",
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "backend": {
      "presets": [
        "@babel/preset-typescript",
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
